body {
  background:#f2c4bc;
  color:#ffffff;
  font-family:"space mono",monospace;
  font-weight:lighter;
  }

p {
  font-size:20px;
  margin-left:30px;
  margin-top:30px;
  }

.special {
  color:#000000;
  font-style:italic;
  }

.special-img {
  position:absolute;
  top:250px;
  left:250px;
  display:none;
  /* opacity:0; */
  /* transition:opacity 1s linear; */
  }

.special:hover .special-img {
  display:block;
  /* opacity:1; */
  }

.special-text {
  position:absolute;
  top:450px;
  right:450px;
  display:none;
  /* opacity:0; */
  /* transition:opacity 1s linear; */
  font-style:normal;
  color:#ffffff;
  }

.special:hover .special-text {
  display:block;
  /* opacity:1; */
  }

.object {
  background:blanchedalmond;
  width:200px;
  height:200px;
  border-radius:50%;
  position:absolute;
  bottom:250px;
  right:550px;
  transition:background 1s ease,
             border-radius 1s ease,
             transform 1s ease;
  }

.object:hover {
  background:#d2dff2;
  border-radius:0;
  transform:scale(2);
  }
