html {
  background-color:#f2c4bc;
  color:#ffffff;
  font-size:30px;
  font-family:"space mono",monospace;
  font-weight:lighter;
  }

h1 {
  font-size:50px;
  font-family:"space mono",monospace;
  font-weight:lighter;
  margin-top:50px;
  margin-left:50px;
  }

.logo {
  max-width:110px;
  margin:10px auto auto 10px;
  }

div {
  margin:50px 50px 0 50px;
  }

.otopmrgn {
  margin-top:0;
  }

a {
  text-decoration:none;
  }

.response01img {
  max-width:900px;
  margin:30px auto;
  display:block;
  }

.smalltext {
  font-size:20px;
  margin-left:90px;
  margin-top:30px;
  }

.italic {
  font-style:italic;
  }

.link {
  color:#ffffff;
  }

.link:hover {
  color:#000000;
  }
