* {
  box-sizing:border-box;
  }

body {
  margin:0;
  color:#ffffff;
  font-size:30px;
  font-family:"space mono",monospace;
  font-weight:lighter;
  }

.box {
  background:#f2c4bc;
  display:flex;
  flex-direction:column;
  padding:10px;
  height:100vh;
  justify-content:center;
  align-items:center;
  }

a {
  text-decoration:none;
  color:#ffffff;
  }

div {
  font-size:22px;
  }
